/* Filter button section */

.navigation-btn {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
    background: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    color: var(--title-text-color);
    background: var(--back-team-color)
  }

.navigation-btn:hover,
.navigation-btn:focus {
    background-color: var(--accent-color);
    color: var(--white-text-back-color);
    cursor: pointer;
}

    <!--Hero-->

.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter-btn-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 94px;
}

.filter-btn-item:hover,
.filter-btn-item:focus {
    cursor: pointer;
    color: var(white-text-back-color);
    background-color: var(--accent-color);
}

.filter-btn-item:not(:last-child) {
    margin-right: 8px;
}

/* Portfolio section */

.portfolio-list {
    display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-list.list {
    margin-bottom: 94px;
}

.portfolio-item {
    flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-desc-card {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}
.portfolio-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-desc {
    font-size: 16px;
    line-height : 1.89;
    color: var(--discription-text-color);
}
